* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    text-align: center;
}

.table-container {
    padding: 30px;
    display: flex;
    justify-content: center;
}

thead {
    text-align: center;
}

table,
td {
    border: 1px solid;
    text-align: center;
    padding: 5px;
    margin: 15px;
}

.btn-delete {
    color: red;

}